/* General Layout for the Upload Slider */

.product-image-upload {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.product-image-upload .box-product-1 {
  border: 1px solid var(--dark-text-color);
  border-radius: 8px;
  height: 200px;
  width: 205px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.product-image-upload .box-product-1 img {
  width: 170px;
  cursor: pointer;
  border-radius: 5px;
}

.product-image-upload .box-product-1:hover {
  border: 2px dashed var(--secondary-color);
  border-radius: 8px;
}

.product-image-upload .box-product-1 .collection svg {
  font-size: 100px;
  cursor: pointer;
}

.product-image-upload .box-product-1 a {
  font-size: 15px;
  color: var(--heading-color);
  cursor: pointer;
}

/* Dark Mode */
body.dark .product-image-upload .box-product-1 a,
body.dark .product-image-upload .box-product-1 .collection svg {
  color: var(--dark-text-color);
}

body.dark .card.p-4.mt-4.shadow.size-color {
  background-color: var(--dark-bg-color);
}

body.dark .card.shadow.p-3.media-image {
  background-color: var(--dark-bg-color);
}

/* Responsive Styles */
@media (min-width: 320px) and (max-width: 576px) {
  .product-image-upload {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .product-image-upload .box-product-1 {
    width: 48%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .product-image-upload {
    flex-wrap: wrap !important;
    gap: 10px;
  }
  .product-image-upload .box-product-1 {
    width: 47%;
  }
}
